html{
  display: block;
  height: 100%;
  font-family: "Microsoft YaHei" ;
}

body{
  display: block;
  text-align: center;
  overflow: hidden;
  margin-top: 0;
  margin-left: 0;
}

.bgPicDiv{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  text-align: center;
  bottom: 0;
}

#bgPic{
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  margin-bottom: 0;
}

.mainbody{
  width: 100%;
  height: 100%;
}

.viewArea{
  width: 100%;
  height: 600px;
  text-align: center;
  margin: auto;
}

.centerCircle{
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 200px;
  margin-top: 200px;
  z-index: 100;
}

#centerRed{
  background-image: url(src/centerCircleRed.png);
  background-position:center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#centerBlue{
  background-image: url(src/centerCircleBlue.png);
  background-position:center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.outerCircle{
  padding: 0;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  background-image: url(src/outerCircle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
}

.smallPoint{
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 101;
}

#pointRed{
  background-image: url(src/smallPointRed.png);
}

#pointBlue{
  background-image: url(src/smallPointBlue.png);
}

.leftbar{
  position: absolute;
  float: left;
  width: 200px;
  height: 98%;
  background-color: rgba(100, 100, 100, 0.2);
  text-align: center;
  background-image: url(src/leftbarBG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.scorePic{
  width:200%;
  margin: 10px 10px 0 auto;
  left: 28px;
  position: relative;
  cursor: pointer;
}

input{
  width: 90%;
  height: 50px;
  position: relative;
  margin: 10px auto 0 auto;
}

#start{
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #666;
  font: bold 22px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 150px;
  margin-bottom: 20px;
}

#top{
   height: 40px;
   background: rgba(255, 255, 255, 0.5);
   border: 1px solid #bbb;
   border-radius: 3px;
   -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
   box-shadow: inset 0 0 1px 1px #f6f6f6;
   color: #666;
   font: bold 22px/1 "helvetica neue", helvetica, arial, sans-serif;
   padding: 8px 0 9px;
   text-align: center;
   text-shadow: 0 1px 0 #fff;
   width: 150px;
   margin-bottom: 20px;
 }

#score{
  text-align: center;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  margin: 10px auto 18px auto;
  font: bold 30px/1 "helvetica neue", helvetica, arial, sans-serif;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.plus{
  text-align: center;
  position: absolute;
  top: 20px;
  left: 3px;
  width: 30px;
  height: 30px;
  font: bold 30px/1 "helvetica neue", helvetica, arial, sans-serif;
  color: #FFF;
  background-color: rgba(100, 100, 100, 0.2);
  z-index: 100;
  cursor: pointer;
}

.signinBase{
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow:hidden;
  text-align: center;
  margin: 0 auto 0 auto;
  z-index: 1000;
}

.signinAlert{
  position: relative;
  margin: 0 auto 0 auto;
  background-color: #FFF;
  width: 40%;
  min-width: 500px;
  height: 200px;
  font: bold 30px/1 "helvetica neue", helvetica, arial, sans-serif;
  border-radius: 3px;
  text-align: center;
}

.toolbar{
  background-color: #FFF;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #CCC;
}

#startButton{
  width: 200px;
  margin: 20px auto 10px auto;
  background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 5px 10px 6px;
	color: #000;
	text-decoration: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
  font: bold 30px/1 "helvetica neue", helvetica, arial, sans-serif;
}

#loginNameInput{
  font-size: 20px;
}

#messages{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 15px;
  color: #555;
  height: 320px;
  overflow: auto;
}

li{
  height: 20px;
}
